.studentsCount__container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.tags__list {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.studentsCount__editButton {
    align-self: end;
}
